---
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import WorkIcon from "../components/icons/WorkIcon.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Portfolio de spin3l — Desarrollador y Programador web"
  description="Portfolio actualizado de spin3l (Christian López García), desarrollador web y data scientist de Lleida, España."
>
  <main class="px-4">
    <SectionContainer class="pt-44 pb-24">
      <img
        class="rounded-full size-12 mb-4"
        src="https://avatars.githubusercontent.com/u/68792480?v=4"
        alt="spin3l photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy spin3l<a
          class="flex justify-center items-center"
          href="https://www.linkedin.com/in/christian-lopez-garcia02/"
          target="_blank"
          rel="noopener"
        >
          <Badge>Abierto a ofertas de trabajo</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>+1 año de experiencia.</span>
        <span class="text-yellow-200/90">
          Desarrollador Web y Data Scientist
        </span>. De
        <span class="text-red-200/90">Lleida, España </span>.
        <span class="opacity-85"
          >Especializado en crear aplicaciones únicas.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-warp">
        <SocialPill
          href="https://www.linkedin.com/in/christian-lopez-garcia02/"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/spin3l">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:dev.christianlopezgarcia@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          dev.christianlopezgarcia@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <WorkIcon class="size-10" />Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-10" />Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
