---
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import WorkIcon from "../components/icons/WorkIcon.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import TitleSection from "../components/TitleSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Portfolio de spin3l — Desarrollador y Programador web"
  description="Portfolio actualizado de spin3l (Christian López García), desarrollador web full-stack de Lleida, España."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-16">
      <Hero />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <TitleSection>
          <WorkIcon class="size-10" />Experiencia laboral
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <TitleSection>
          <CodeIcon class="size-10" />Proyectos
        </TitleSection>
        <Projects />
      </SectionContainer>
    </div>
  </main>
</Layout>
