<div class="flex items-center">
  <span class="inline-flex relative p-[1px] rounded-full overflow-hidden">
    <span
      class="absolute inset-[-1000%] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)] animate-[spin_2s_linear_infinite]"
    ></span>
    <div
      class="inline-flex justify-center items-center bg-gray-800 backdrop-blur-3xl px-3 py-1 rounded-full w-full text-white/80 text-sm whitespace-nowrap cursor-pointer"
    >
      <slot />
    </div>
  </span>
</div>
