---
import TAGS from "../constants/tags";
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Enero 2025 - Actualidad",
    company: "Universitat de Lleida",
    title: "AgrospAI",
    description:
      "Personal técnico en el proyecto AgrospAI, uno de los cuatro espacios de datos del sector agroalimentario de España. Desarrollo full-stack de features del marketplace, diseño y desarrollo del portal e implementación de casos de uso mediante algoritmos del EEDD.",
    tags: [TAGS.REACT, TAGS.PYTHON, TAGS.DJANGO, TAGS.DRF],
  },
  {
    date: "Noviembre - Diciembre 2024",
    company: "eCityclic",
    title: "Junior Software Developer",
    description:
      "Desarrollo full-stack de aplicaciones del sector de la Administración electrónica.",
    tags: [TAGS.ANGULAR, TAGS.JAVA, TAGS.SPRING],
  },
  {
    date: "Marzo - Julio 2024",
    company: "GFT IT Consulting S.L.U.",
    title: "Data Scientist Intern",
    description:
      "Participación en proyectos de Natural Language Processing y Computer Vision, además de preparación de datasets y desarrollo de demostraciones técnicas.",
    tags: [TAGS.PYTHON, TAGS.PYTORCH, TAGS.CVAT],
  },
  {
    date: "Junio - Diciembre 2023",
    company: "Universitat de Lleida",
    title: "Personal Tècnic",
    description:
      "Diseño y desarrollo de aplicaciones, procesamiento de datos y entrenamiento de modelos para el análisis de imágenes hiperespectrales del sector agroalimentario.",
    tags: [TAGS.PYTHON, TAGS.SKLEARN, TAGS.TKINTER],
  },
];
---

<ol>
  {
    EXPERIENCE.map((experience) => (
      <li class="ms-1.5">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
