---
import type { ui } from "@/i18n/ui";
import TAGS, { type Tag } from "../constants/tags";
import ExperienceItem from "./ExperienceItem.astro";

type Experience = {
  date: keyof typeof ui.en;
  title: keyof typeof ui.en;
  description: keyof typeof ui.en;
  company: keyof typeof ui.en;
  tags: Array<Tag>;
};

const EXPERIENCE = [
  {
    date: "section.experience.agrospai.date",
    company: "section.experience.agrospai.company",
    title: "section.experience.agrospai.title",
    description: "section.experience.agrospai.description",
    tags: [
      TAGS.REACT,
      TAGS.TYPESCRIPT,
      TAGS.HTML,
      TAGS.CSS,
      TAGS.TAILWIND,
      TAGS.PYTHON,
      TAGS.DJANGO,
      TAGS.DRF,
      TAGS.FASTAPI,
    ],
  },
  {
    date: "section.experience.ecityclic.date",
    company: "section.experience.ecityclic.company",
    title: "section.experience.ecityclic.title",
    description: "section.experience.ecityclic.description",
    tags: [TAGS.ANGULAR, TAGS.JAVA, TAGS.SPRING],
  },
  {
    date: "section.experience.gft.date",
    company: "section.experience.gft.company",
    title: "section.experience.gft.title",
    description: "section.experience.gft.description",
    tags: [TAGS.PYTHON, TAGS.PYTORCH, TAGS.CVAT],
  },
  {
    date: "section.experience.udl.date",
    company: "section.experience.udl.company",
    title: "section.experience.udl.title",
    description: "section.experience.udl.description",
    tags: [TAGS.PYTHON, TAGS.SKLEARN, TAGS.TKINTER],
  },
] satisfies Array<Experience>;
---

<ol class="relative">
  {
    EXPERIENCE.map((experience, index) => (
      <li class="ms-1.5">
        <ExperienceItem
          {...experience}
          isLast={index === EXPERIENCE.length - 1}
        />
      </li>
    ))
  }
</ol>
