---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Email from "./Email.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import SocialPill from "./icons/SocialPill.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex gap-8 mb-4">
  <img
    class="shadow-md dark:shadow-lg dark:shadow-purple-500/10 mb-2 lg:mb-4 border-2 border-gray-200 dark:border-white/20 rounded-full size-24 object-cover"
    src="pfp.jpeg"
    alt="spin3l photo"
  />
</div>

<h1
  class="inline-block gap-x-4 pb-6 lg:pb-10 text-gray-900 dark:text-white text-2xl lg:text-4xl"
>
  {t("section.hero.greet")}
  <span class="font-bold text-purple-600 dark:text-purple-200/90"
    >{t("me")},</span
  >
</h1>

<h2
  class="max-w-[700px] text-gray-700 dark:text-gray-200 text-xl lg:text-2xl text-pretty"
>
  <span class="font-semibold text-yellow-600 dark:text-yellow-200/90">
    {t("section.hero.role")}
  </span>
  {" "}
  {t("section.hero.based")}
  {" "}
  <span class="font-semibold text-red-600 dark:text-red-200/90">
    {t("section.hero.country")}.
  </span>
  <span
    class="block mt-3 font-normal text-gray-500 dark:text-gray-400 text-base lg:text-lg"
  >
    {t("section.hero.description")}
  </span>
</h2>

<div class="flex flex-col gap-8">
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="https://www.linkedin.com/in/christian-lopez-garcia02/">
      <LinkedInIcon class="size-6" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/spin3l">
      <GitHubIcon class="size-6" />
      GitHub
    </SocialPill>
  </nav>
  <Email email="dev.christianlopezgarcia@gmail.com" />
</div>
