---
interface Props {
  tag: {
    name: string;
    class: string;
    icon?: any;
  };
}

const { tag } = Astro.props;
---

<span class={`flex gap-x-3 rounded-full text-xs ${tag.class} py-1 px-4 `}>
  {tag.icon && <tag.icon class="size-4" />}
  <pre class="font-semibold">{tag.name}</pre>
</span>
