<a
  {...Astro.props}
  target="_blank"
  rel="noopener"
  class="flex justify-center items-center gap-x-3 bg-gray-100 hover:bg-gray-200 dark:bg-white/5 dark:hover:bg-white/10 px-2 lg:px-4 py-1 lg:py-2 border border-gray-300 dark:border-white/10 rounded-full text-gray-800 hover:text-blue-600 dark:hover:text-yellow-400 dark:text-white text-xs lg:text-base hover:scale-105 active:scale-95 transition duration-200 cursor-pointer"
>
  <slot />
</a>
